# Ignore virtual environment
myenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database
db.sqlite3

# Ignore VSCode settings
.vscode/

# Ignore compiled files
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore WeasyPrint temporary files or logs
*.log
